.sprintHero {
  font-family: 'Open Sans', sans-serif;
}

.month__labels {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  padding: 10px 0 0;
}

.month__label {
  color: dimgray;
  font-size: 14px;
  margin: 5px 5px 0 5px;
  padding: 5px 5px 0 5px;
  text-align: center;
  text-transform: uppercase;
  width: calc(100%/7 - 10px - 2px);
}

.month__days {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.week__days {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: center;
}

.day {
  border: 1px solid #efefef;
  color: darkgray;
  font-size: 12px;
  margin: 5px;
  min-height: 50px;
  width: calc(100%/7 - 10px - 2px);
}

.day--view-month {

}

.day--weekend {  background: #efefef;  }

.day__date {
  display: inline-block;
  float: right;
  padding: 5px 5px 0;
}

.day__date--today {
  color: teal;
  font-weight: bold;
}

